[submodule ".registry"]
	path = .registry
	url = https://github.com/flippiecoetser/flippiecoetser.r-universe.dev
	branch = HEAD
[submodule "Authenticate"]
	path = Authenticate
	url = https://github.com/FlippieCoetser/Authenticate
[submodule "Environment"]
	path = Environment
	url = https://github.com/FlippieCoetser/Environment
[submodule "Query"]
	path = Query
	url = https://github.com/FlippieCoetser/Query
[submodule "Storage"]
	path = Storage
	url = https://github.com/FlippieCoetser/Storage
[submodule "Validate"]
	path = Validate
	url = https://github.com/FlippieCoetser/Validate
